.header-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
    justify-content: space-around;
}

.header-counter {
    margin-left: auto;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
}

#header {
    position: fixed;
    width: 100%;
}

/* ............................................................................ */

/* ДОДАВ */
.img-logo {
    display: block;
    width: 10px;
}

.img-logo__image {
    display: block;
    width: 2.5rem;
}

.center-heading {
    vertical-align: baseline;
    text-align: center;
}

.cart {
    margin-right: 7px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.icon-basket {
    width: 30px;
    height: 30px;
}

/* ДОДАВ */