.header-container{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
    justify-content: space-around;
}

.header-counter{
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
     font-size: 30px;
}


/* ............................................................................ */

/* ДОДАВ */
.img-logo {
    display: block;
    width: 10px;
}

.img-logo__image {
    display: block;
    width: 2.5rem;
}

.center-heading {
    vertical-align: baseline;
    text-align: center;
}

.cart {
    font-size: 30px;
}
/* ДОДАВ */