:root {
  --color-light: #e9f1f9;
  --color-white: #fff;
  --color-unaccent: #808080;
  --color-medium: #e8e8e8;
  --color-dark: #92b3d3;
  --color-error-light: #f25b6b;
  --color-error-dark: #d65c5c;

  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 30px;

  --border-radius: 20px;

  --linear-gradient: linear-gradient(to right, #5b86e5, #36d1dc);

  --box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02),
    0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-white);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.7;
  background-color: var(--color-light);
}

/* Menu */
.menu__list {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  background-color: #e8e8e8;
  padding-top: 50px;
  margin: 0 auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 0;
}

.menu__item {
  padding: 10px 20px 10px 20px;
  list-style-type: none;
  cursor: pointer;
}
.menu__item:last-of-type {
  /* padding-right: 0; */
}

.menu__item-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: inherit;
  font-weight: 580;
}

.main-heading {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  font-size: 1.5rem;
}

/* ABOUT US */

.about-us {
  margin: 30px auto auto auto;
  width: 50%;
  padding: 25px 20px;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  text-align: center;
}

.address-main-text {
  font-size: 1.5rem;
  font-style: normal;
}

.about-us__image {
  margin-top: 30px;
}

.address-link {
  color: inherit;
  text-decoration: none;
}
