.shopping-container {
  width: 50%;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: var(--spacing-large);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 30px;
}

@media screen and (max-width: 1420px) {
  .shopping-container {
  width: 70%;
  }
}

@media screen and (max-width: 1010px) {
  .shopping-container {
  width: 80%;
  overflow: hidden;
  }
}

@media screen and (max-width: 500px) {
  .shopping-container {
  width: 90%;
  overflow: hidden;
  }
}

.shopping-element__name {
  padding: var(--spacing-medium);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.shopping-element__price {
  padding: var(--spacing-medium);
  color: var(--color-unaccent);
}

.shopping__close {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 20px;
  right: 20px;
  background-image: url("/components/Shopping/img/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.table-container {
  margin: 0 auto;
}

.icon-pin,
.icon-price {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
