*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  width: 90%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
    margin-top: 50px;
    padding: 15px 0;
  }
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.slider {
  position: relative;
  padding: 0px 100px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}

.slider .slick-arrow {
  width: 40px;
  height: 60px;
  margin: -30px 0px 0px 0px;
  z-index: 10;

  position: absolute;
  top: 50%;

  font-size: 0;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/sl-arrow_l.svg") 0 0 / 100% no-repeat;
  cursor: pointer;
  stroke: #e9f1f9;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r.svg") 0 0 / 100% no-repeat;
  cursor: pointer;
  stroke: #e9f1f9;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  width: 10px;
  height: 10px;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
}

@media screen and (max-width: 500px) {
  .slider .slick-dots button {
    margin-top: 30px;
  }
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid black;
}

.slider__item {
  display: flex;
  justify-content: center;
  padding: 0px 15px;
}

.slider__item img {
  max-width: 50%;
  border-radius: 20px;
}

@media screen and (max-width: 500px) {
  .slider__item img {
    max-width: 90%;
  }
}
